SERVER_PORT=8084
JPA_SHOW_SQL=false
SPRING_DATA_MONGODB_URI=mongodb://root:root@localhost:27017/appointment_search?authSource=admin
SPRING_DATA_MONGODB_DATABASE=appointment_search
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_KAFKA_CONSUMER_GROUP_ID=appointment-search-service
